@-webkit-keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #01052b;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #01052b;
    }
  }
  


  html {
	-webkit-animation: color-change-2x 4s linear infinite alternate both;
	        animation: color-change-2x 4s linear infinite alternate both;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#hss {
    width: 200px;
    height: 430px;
    border-radius: 20px;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}

#appslist_screenshot {
    width: 200px;
    height: 430px;
    border-radius: 20px;
}

#txtandss1 {
    
    margin-right: 20px;
    
}

#toolbar {
    background-color: white;
    border-radius: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar-home {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    text-decoration: underline;  
}

#toolbar-download {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    float: right;
    text-align: right;
    padding-left: 10px; 
}

#toolbar-about {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    float: right;
    text-align: right;
    padding-left: 10px; 
}

#toolbar-download:hover {
    text-decoration: underline;
}

#toolbar-about:hover {
    text-decoration: underline;
}

a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    float: right;
    text-align: right;
    padding-left: 10px; 
    text-decoration: none;
}

#footer {
    background-color: #242424;
    height: 70%;
    border-radius: 10px;
    font-size: 15px;
}

#preview_btn {
    background-color: #0059ff;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 35%;
    box-shadow: #0059ff 5px 1px 5px 1px;
}

#preview_btn:hover {

    scale: 1.2;
}