@-webkit-keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #01052b;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #01052b;
    }
  }
  


  html {
	-webkit-animation: color-change-2x 4s linear infinite alternate both;
	        animation: color-change-2x 4s linear infinite alternate both;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

#test {
    text-shadow: 0 0 10px #022ba5, 0 0 5px #022ba5, 0 0 15px #0400ff, 0 0 5px #0400ff,0 0 5px #0400ff;
}

#discordlogo {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#discordlogo:hover {
    scale: 1.3;
}